<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Tech Blog</title>

  {{!-- CSS --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="public/stylesheets/materialize.css" type="css" rel="stylesheet" media="screen,projection"/>
  <link href="public/stylesheets/style.css" type="css" rel="stylesheet" media="screen,projection"/>
</head>


<body>
  <nav class="light-blue ligten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Tech Blog</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/"><i class="material-icons right">home</i></a></li>
        {{#if loggedIn}}
        <li><a href="/dashboard">Dashboard</a></li>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <li><a href="/login">Log In</a></li>
        {{/if}}
      </ul>
  </nav>
  <div class="container">
    <main>
      {{{ body }}}
    </main>
    
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

  <script> 
    document.addEventListener("click", function() {
      if(typeof timeOutObj != "undefined") {
        clearTimeout(timeOutObj);
      }
      console.log("click");
      timeOutObj = setTimeout(function() {
        localStorage.clear();
        fetch('/api/users/logout', {
          method: 'post',
          headers: { 'Content-Type': 'application/json' }
        });
        window.location='/login';
        console.log("You've been logged out")
      }, 1200000); //will expire after 10 seconds 
    });
  </script>
</body>


</html>