<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Tech Blog</a>
      </h1>
      <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

  <script> 
    document.addEventListener("click", function() {
      if(typeof timeOutObj != "undefined") {
        clearTimeout(timeOutObj);
      }
      console.log("click");
      timeOutObj = setTimeout(function() {
        localStorage.clear();
        fetch('/api/users/logout', {
          method: 'post',
          headers: { 'Content-Type': 'application/json' }
        });
        window.location='/login';
        console.log("You've been logged out")
      }, 1200000); //will expire after 10 seconds 
    });
  </script>
</body>


</html>