<section>
    <h2>Your Posts</h2>
    {{#if posts.length}}
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
        </li>
        {{/each}}
    </ol>
    {{else}}
      <p>You have no posts yet.</p>
    {{/if}}
</section>
<form action="/create">
  <button type="submit" class="btn">Create a New Post</button>
</form>





