<div class="row">
  <h1>Log In To Your Account</h1>
  <form class="login-form">
      <div>
        <input id="username-login" type="text">
        <label for="username-login">Username</label>
      </div>
      <div>
        <input id="password-login" type="password">
        <label for="password-login">Password</label>
      </div>
      <div>
        <button type="submit">Login</button>
        <button type="click">
          <a href="/signup">Sign Up</a></button>
      </div>
</form>


<script src = "javascript/login.js"></script>