{{> post-info post}}

{{#if loggedIn}}

<form class="update-post">
  <div>
    <textarea name="post-title">{{post.title}}</textarea>
    <br>
    <textarea name="post-body">{{post.post_body}}</textarea>
  </div>
  <button type="submit">Update</button>
  <button type="button" id="deleteButton">Delete</button>

</form>

<br>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}